:root {
  --primary-color: #e74c3c;
  --background-color: #f0f4f8;
  --navbar-bg-color: #fff;
  --footer-bg-color: #2c3e50;
  --text-color: #333;
  --overlay-bg-color: rgba(0, 0, 0, 0.6);
  --btn-hover-opacity: 0.75;
}

@font-face {
  font-family: "roboto";
  font-weight: normal;
  font-style: normal;
} 

body {
  width: 100%;
  background-color: var(--background-color);
  overflow-x: hidden;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: calc(18px + 0.5vw);
  text-align: center;
}

.navbar {
  font-size: 25px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px grey;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.navbar .container>div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.navbar .container>div:first-of-type {
  animation: showup 7s infinite;
}

.navbar .container>div:last-of-type {
  width: 355px;
  animation: reveal 7s infinite;
}

.navbar .container>div:last-of-type span {
  display: inline-block;
  white-space: nowrap;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
      opacity: 0;
  }

  20% {
      opacity: 1;
  }

  80% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@keyframes slidein {
  0% {
      transform: translateX(-355px);
  }

  20% {
      transform: translateX(-355px);
  }

  35% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes reveal {
  0% {
      opacity: 0;
      width: 0;
  }

  20% {
      opacity: 1;
      width: 0;
  }

  35% {
      width: 355px;
  }

  80% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      width: 355px;
  }
}

.content {
  padding: 20px 40px;
  min-height: calc(100vh - 110px);
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 1.5rem;
}

.filter-buttons .btn {
  margin: 0 5px;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 8px;
  background-color: var(--navbar-bg-color);
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.filter-buttons .btn.active {
  background-color: var(--primary-color);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.filter-buttons .btn:hover {
  background-color: var(--primary-color);
  opacity: var(--btn-hover-opacity);
}

.filter-buttons .btn:not(.active) {
  transform: scale(1);
  box-shadow: none;
}

.covers {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin: 3rem;
}

.thumb {
  position: relative;
  cursor: pointer;
  max-width: 180px;
  border-radius: 8px;
  transform: rotateY(15deg) rotateX(50deg) rotateZ(-15deg);
  transition: transform 200ms ease-in;
  box-shadow: -40px 80px 80px -10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  gap: 1.5rem;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.thumb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-bg-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 1rem;
  padding: 10px;
}

.overlay a{
  background-color: white;
  color: black !important ;
  font-weight: 1000; 
  margin-right: .3rem ;
}


.thumb:hover .overlay {
  opacity: 1;
}

.overlay p {
  margin: 0;
  line-height: 1.5;
  font-size: 0.8rem;
}

.footer {
  background-color: var(--footer-bg-color);
  color: #ecf0f1;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .content {
      padding: 20px 10px;
      margin-top: 60px;
  }

  .thumb {
      max-width: 150px;
  }

  .covers {
      gap: 1rem;
  }
}

@media (max-width: 480px) {
  .thumb .overlay {
      font-size: 0.8rem;
      padding: 5px;
  }

  .filter-buttons .btn {
      display: block;
      margin: 0.5rem auto;
      font-size: 0.875rem;
      height: 40px;
  }

  .thumb {
      max-width: 120px;
  }

  .covers {
      margin: 0 1rem;
  }
} 

.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    z-index: 21474836469; /* 다른 요소들 위에 표시 */
    left: 0;
    top: 0;
    width: 100vw; /* 전체 너비 */
    height: 100vh; /* 전체 높이 */
    overflow: hidden; /* 스크롤 방지 */
    background-color: rgba(0, 0, 0, 0.8); /* 반투명 배경 */
}

.modal-content {
    position: absolute; /* 절대 위치 */
    top: 50%; /* 수직 중앙 */
    left: 50%; /* 수평 중앙 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    width: 95%; /* 너비 */
    height: 95%; /* 높이 */
}

.close {
    position: absolute; /* 모달 내에서의 위치 */
    top: 10px; /* 상단 위치 */
    right: 20px; /* 우측 위치 */
    color: white; /* 글자 색상 */
    font-size: 28px; /* 글자 크기 */
    cursor: pointer; /* 마우스 커서 변경 */
}

